@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

.root{
    background-color: whitesmoke;
    font-family: 'PT Sans', sans-serif;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    color: black;
    font-family: 'PT Sans', sans-serif;
    text-underline-position: belowsty;
    padding-bottom: 2rem;
}

.btn {
    font-size: auto;
    padding: 2rem 0;
    width: 5rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: rgb(28, 26, 26);
    background: white;
    border-radius: 4px;
}

.btn:hover {
    cursor: pointer;
    transition: transform 150ms;
    transform: scale(1.03);
}

h2 {
    color: orange;
}

.container {
    display: flex;
    padding-bottom: 5rem;
    font-family: 'PT Sans', sans-serif;
}

.bookImage {
    display: flex;
    padding-right: 2rem;
}

.basket {
    margin-left: 60rem;
    }

 .best {
    font-family: 'PT Sans', sans-serif;
    font-size: 2rem;
    display: flex;
 }   

.search {
   margin-left: 65rem;
   padding-top: 0.2rem;
}

.navbar {
    overflow: hidden;
    background-color: darkkhaki;
  }
  
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: darkslategray;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .bookImageTwo {
    padding-right: 1rem;
    padding-left: 1rem;
}

.box {
  display: flex;
  float: left;
  font-family: 'PT Sans', sans-serif;
  margin-bottom: 2rem;
}

.was {
  text-decoration: line-through;
  color:lightslategray;
  font-family: 'PT Sans', sans-serif;
  color: darkgrey;
}

.sale {
  font-family: 'PT Sans', sans-serif;
  font-size: 2rem;
  font-style: italic;
}

.now { 
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
}

.join {
  font-family: 'PT Sans', sans-serif;
  text-align: center;
}

footer {
  background-color: darkkhaki;
  clear: both;

}

.info {
  padding-top: 1rem;
  font-family: 'PT Sans', sans-serif;
  line-height: 2rem;
  list-style-type: square;
}


.btn1 {
    cursor: pointer;
    transition: transform 150ms;
    transform: scale(1.03);
    display: flex;
    position: relative; left:20rem; top:1rem;
    font-family: 'PT Sans', sans-serif;
    border: 2px solid; black;
    border-color: darkslategrey;
}

.btn2 {
  cursor: pointer;
  transition: transform 150ms;
  transform: scale(1.03);
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  font-family: 'PT Sans', sans-serif;
  border: 2px solid; black;
  border-color: darkslategrey;
}